---
import { Image } from "astro:assets";
import Logo from "../assets/svg/logo.svg";
---

<section class="contact-section">
  <div class="inner-container">
    <div class="contact-content">
      <h2>Contact us for the service you want to use</h2>
      <a href="#" class="contact-button" id="contactToggle">Contact us</a>
    </div>
    <div class="contact-container" id="contactForm">
      <h2 class="contact-title">Contact Us</h2>
      <form
        action="https://formbold.com/s/oJV22"
        method="POST"
        class="contact-form"
      >
        <input
          type="text"
          class="form-input"
          placeholder="Full Name"
          name="name"
          required
        />
        <input
          type="email"
          class="form-input"
          placeholder="Email"
          name="email"
          required
        />
        <input
          type="tel"
          class="form-input"
          placeholder="Phone Number"
          name="phone"
          required
        />
        <input
          type="tel"
          class="form-input"
          placeholder="WhatsApp Number"
          name="whatsapp"
        />
        <input
          type="text"
          class="form-input"
          placeholder="Subject"
          name="subject"
          required
        />
        <textarea
          name="message"
          class="form-input form-textarea"
          placeholder="Type your message"
          required></textarea>
        <button type="submit" class="submit-button">Send Message</button>
      </form>
    </div>
    <div class="decorative-elements">
      <span class="circle"></span>
      <span class="plus">+</span>
    </div>
  </div>
</section>

<style>
  .contact-section {
    background-color: #1a1a2e;
    color: white;
    padding: 4rem 2rem;
    position: relative;
    overflow: hidden;
  }
  .inner-container {
    max-width: 1330px;
    margin: 0 auto 2rem;
  }

  .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    max-width: 60%;
  }

  .contact-button {
    background-color: #4a47a3;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

  .contact-button:hover {
    background-color: #3a3882;
  }

  .decorative-elements span {
    position: absolute;
    opacity: 0.2;
  }

  .circle {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    left: 5%;
    top: 20%;
  }

  .plus {
    font-size: 3rem;
    right: 5%;
    top: 10%;
  }

  .contact-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.7;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: max-height 0.5s ease-out;
    max-height: 0;
    overflow: hidden;
  }

  .contact-container.open {
    max-height: 1000px;
    padding: 20px;
  }

  .contact-title {
    text-align: center;
    color: #333;
  }

  .contact-form {
    display: grid;
    gap: 15px;
  }

  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }

  .form-textarea {
    height: 150px;
  }

  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  .submit-button:hover {
    background-color: #0056b3;
  }

  @media (max-width: 480px) {
    .contact-container {
      /* padding: 10px; */
    }
    .form-input,
    .submit-button {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    .contact-section {
      padding: 3rem 1rem;
    }

    .contact-content {
      flex-direction: column;
      text-align: center;
    }

    h2 {
      font-size: 2rem;
      max-width: 100%;
      margin-bottom: 2rem;
    }

    .decorative-elements {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const contactToggle = document.getElementById("contactToggle");
    const contactForm = document.getElementById("contactForm");

    contactToggle.addEventListener("click", (e) => {
      e.preventDefault();
      contactForm.classList.toggle("open");

      if (contactForm.classList.contains("open")) {
        contactForm.scrollIntoView({ behavior: "smooth" });
      }
    });
  });
</script>
